/* Start Variables */

:root {
    --trans-dur: 0.3s;
    --para-color: #1b161d;
    --Section-pad: 100px;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

.main-title {
    text-align: center;
    margin-bottom: 50px;
    color: var(--para-color, #1b161d);
}

.main-title h2 {
    font-size: 32px;
    font-weight: normal;
}

.main-title p {
    line-height: 1.7;
}

/* End Component */

/* Start Header */

header {
    background-color: #c4d70f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 73px;
}

header .logo a {
    color: white;
    font-size: 28px;
    font-family: 'Dosis', sans-serif;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav div {
    margin-right: 40px;
    cursor: pointer;
    color: white;
}

header nav div:last-of-type {
    width: 30px;
    position: relative;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

header nav div:last-of-type ul {
    position: absolute;
    top: 40px;
    left: -70px;
    background-color: #9E9E9E;
    display: none;
    z-index: 2;
}

header nav div:last-of-type:hover ul {
    display: block;
}

header nav div:last-of-type ul::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 70px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #9E9E9E transparent;
}

header nav div:last-of-type ul li a {
    display: block;
    padding: 10px 20px;
    color: #c4d70f;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
    text-transform: uppercase;
}

header nav div:last-of-type ul li a:hover {
    color: white;

}


@media (max-width: 991px) {
    header nav div:not(div:last-of-type) {
        display: none;
    }
}

header nav div:last-of-type span {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    height: 4px;
    background-color: white;
}

header nav div i {
    margin-right: 10px;
}

/* End Header */

/* Start Landing */

.landing {
    background-color: #c4d70f;
    position: relative;
}

.landing::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 130px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    background-color: #c4d70f;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}

.landing .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 768px) {
    .landing .container .content {
        flex-direction: column;
    }
}

.landing .container .content .text {
    flex-basis: 25%;
    color: white;
    padding: 50px 70px 10px;
}

.landing .container .content .text h1 {
    margin-bottom: 25px;
    font-size: 40px;
    width: 50%;
}

.landing .container .content .text h1 span {
    color: black;
    display: inline-block;
}

.landing .container .content .text p {
    line-height: 1.5;
    margin-bottom: 30px;
}

.landing .container .content .text a {
    border: 1px solid white;
    display: block;
    width: fit-content;
    border-radius: 40px;
    padding: 15px 35px;
    color: white;
    text-transform: capitalize;
}

.landing .container .content .text a:hover {
    background-color: white;
    color: black;
}

.landing .container .content .image {
    flex-basis: 75%;
}

.landing .container .content .image img {
    max-width: 100%;
}

.landing .container .content .arrows {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .container .content .arrows .arrow {
    background-color: white;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 0px 23px -4px rgb(0 0 0 / 32%);
}

.landing .container .content .arrows .arrow:hover {
    background-color: black;
    color: white;
}

.landing .container .number {
    margin-left: -35px;
}

@media (max-width: 768px) {
    .landing .container .number {
        margin-left: 0;
    }
}

.landing .container .number span {
    color: white;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
}

.landing .container .number span:first-of-type {
    font-size: 24px;
    margin-right: 10px;
}

/* End Landing */

/* Start About */

.about {
    padding-top: var(--Section-pad, 100px);
    padding-bottom: var(--Section-pad, 100px);
    margin-top: 50px;
}

.about .container .cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about .container .cont .main-card {
    flex-basis: calc((100% / 3 - 30px));
    text-align: center;
    color: var(--para-color, #1b161d);
}

@media (max-width: 991px) {
    .about .container .cont .main-card {
        flex-basis: calc((100% / 2) - 30px);
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .about .container .cont .main-card {
        flex-basis: 90%;
        margin: 0 auto 50px;
    }
}

@media (max-width: 576px) {
    .about .container .cont .main-card {
        flex-basis: 100%;
    }
}

@media (max-width: 991px) {
    .about .container .cont .main-card:last-of-type {
        margin: 0 auto;
    }
}

.about .container .cont .main-card .card {
    box-shadow: -1px 0px 25px 9px rgb(0 0 0 / 9%);
    padding: 25px 25px 50px;
    margin-bottom: 50px;
}

.about .container .cont .main-card .card .image {
    margin-bottom: 30px;
}

.about .container .cont .main-card .card .image img {
    width: 110px;
}

.about .container .cont .main-card .card h4 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.about .container .cont .main-card .card p {
    line-height: 1.7;
}

.about .container .cont .main-card a {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: 2px solid #c4d70f;
    color: #c4d70f;
}

.about .container .cont .main-card a:hover {
    background-color: #c4d70f;
    color: white;
}

/* End About */

/* Start Portfolio */

.protfolio {
    padding-top: var(--Section-pad, 100px);
    padding-bottom: var(--Section-pad, 100px);
}

.protfolio .container .port-content {
    display: grid;
    grid-template-areas: "one one two"
        "three four four";
    gap: 30px;
}

@media (max-width: 768px) {
    .protfolio .container .port-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .protfolio .container .port-content>div {
        flex-basis: 90%;
    }
}

.protfolio .container .port-content>div img {
    width: 100%;
    height: 100%;
}

.protfolio .container .port-content .two-col:first-of-type {
    grid-area: one;
}

.protfolio .container .port-content .two-col:last-of-type {
    grid-area: four;
}

/* End Portfolio */

/* Start Team */

.team {
    padding-top: var(--Section-pad, 100px);
    padding-bottom: 70px;
}

.team .container {
    padding-bottom: 30px;
    border-bottom: 1px solid #9be604;
}

.team .container .team-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.team .container .team-cont .member {
    text-align: center;
}

@media (min-width: 991px) and (max-width: 1199px) {
    .team .container .team-cont .member:last-of-type {
        grid-area: 2 / 2 / 3 / 3;
    }
}

.team .container .team-cont .member img {
    max-width: 100%;
}

.team .container .team-cont .member h5 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 15px;
}

.team .container .team-cont .member h6 {
    font-size: 16px;
    color: #9be604;
    font-weight: normal;
    margin-bottom: 10px;
}

.team .container .team-cont .member .socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .container .team-cont .member .socials .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #9be604;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* End Team */

/* Start Contact */

.contact {
    padding-top: var(--Section-pad, 100px);
    padding-bottom: var(--Section-pad, 100px);
}

.contact .container .title {
    margin-bottom: 50px;
    text-align: center;
}

.contact .container .title p {
    font-size: 20px;
    color: #787877;
}

.contact .container .title h2 {
    color: var(--para-color, #1b161d);
    font-size: 32px;
    font-weight: normal;
}

.contact .container .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .contact .container .cont {
        flex-direction: column;
    }
}

.contact .container .cont form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
}

@media (max-width: 768px) {
    .contact .container .cont form {
        width: 70%;
    }
}

@media (max-width: 576px) {
    .contact .container .cont form {
        width: 90%;
    }
}

.contact .container .cont form input,
.contact .container .cont form textarea {
    border: 1px solid #c1c1c2;
    margin-bottom: 20px;
    padding: 10px;
}

.contact .container .cont form input:focus,
.contact .container .cont form textarea:focus {
    outline: none;
}

.contact .container .cont form textarea {
    height: 200px;
    resize: vertical;
}

.contact .container .cont form label {
    color: #797879;
    margin-bottom: 10px;
}

.contact .container .cont form button {
    background-color: #a0e711;
    width: fit-content;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.contact .container .cont .image {
    flex-basis: 50%;
}

.contact .container .cont .image img {
    max-width: 100%;
}

/* End Contact */